@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: white;
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
