@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 19.36px;
  font-weight: 400;
  font-style: normal;

  color: $primary-text-color;
  background-color: $page-color;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
