.task {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 432px;
  height: 75px;
  padding: 22px;
  margin-bottom: 16px;

  @include apply-border;

  background-color: $page-color;

  &__cross-text {
    color: $primary-color;
    text-decoration: line-through;
  }

  &__btn-container {
    display: flex;
  }

  &__btn {
    margin-left: 8px;
    padding: 4px;
    @include icon-button($page-color, 22px, 22px);

    &:hover {
      background-color: $primary-color;
    }
  }
}
