.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 583px;
  height: 758px;
  padding: 50px;

  border: 2px solid $primary-color;
  border-radius: 20px;

  background-color: $background-color;

  &__tasks {
    padding: 0 10px;
    height: 100%;

    overflow-y: auto;
    scroll-behavior: smooth;

    & > *:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $secondary-text-color;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 10px;
  }
}
