.search {
  display: flex;
  justify-content: center;

  &__input {
    width: 381px;
    height: 40px;
    padding: 10px 0;
    padding-left: 15px;
    margin-bottom: 60px;

    @include format-text;
    @include apply-border;

    &::placeholder {
      @include format-text();

      color: $secondary-text-color;
    }

    &:focus {
      outline: none;
      border: 2px solid $primary-text-color;
      border-radius: 10px;
    }
  }

  &__btn {
    width: 40px;
    height: 40px;
    margin-left: 11px;
    @include icon-button;
  }
}
