.search {
  display: flex;
  justify-content: center;

  &__input {
    width: 381px;
    height: 40px;
    padding: 10px 0;
    padding-left: 15px;

    @include apply-border;

    &::placeholder {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      line-height: 19.36px;
      font-weight: 400;

      color: $secondary-text-color;
    }

    //TODO: Correct
    // &:focus {
    //   border: 2px solid $primary-color;
    //   border-radius: 10px;
    // }
  }

  &__btn {
    // display: flex;
    // justify-content: center;
    // align-items: center;

    width: 40px;
    height: 40px;
    margin-left: 11px;
    @include icon-button;

    // border: 0;
    // border-radius: 10px;

    // background-color: $primary-color;

    // img {
    //   height: 24px;
    //   width: 24px;
    // }
  }
}
